#以#开始的行都是注释行

#几个简单的示例说明过滤规则的使用
#忽略test.txt 的文件.
test.txt

# 忽略所有生成的 html 文件,
#*.html

#如test2.html是手工维护的，所以例外.
#!test2.html

#  忽略所有.o 和 .a文件.
#*.[oa]i

#下面是blog文件中的过滤规则描述
#忽略所有临时文件
*~

#忽略note.txt

#忽略_sites文件夹
_site/*
